.courseContainer{
    display: grid;
    place-items: center;
    width: 100vw;
}

.description-container {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.header-section {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin-bottom: 20px;
}

.header-section h3 {
    margin-right: 10px;
}

.icons-container img {
    width: 20px;
    height: 20px;
}

.image-container {
    margin-bottom: 20px;
}

.star-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.star-icons img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 18px;
    text-align: justify;
}

.paragraph{
width: 25vw;
font-size: 30px;
}

.titleCourse{
    font-size: 35px;
}


.subscribe-button {
    padding: 10px 20px;
    background-color:  #1C1B1F;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px; 
    width:150px ;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.subscribe-icons {
    display: flex;
    width: 80px;
}

.subscribe-icons img {
    width: 60px;
    height: 30px;
    margin-right: 10px; 
}