/* Suggestions.css */

.suggestions {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background-color:#D2DE32;
	border: 1px solid #ddd;
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
	width: auto;
}

.suggestion {
	padding: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
	color:#f5f5f5;
}

.suggestion:hover {
	background-color: #f5f5f5;
	color: #000;
}